# =============================================
# ktor-demo
# =============================================

ktor-demo/.gradle
ktor-demo/build/
ktor-demo/!gradle/wrapper/gradle-wrapper.jar
ktor-demo/!**/src/main/**/build/
ktor-demo/!**/src/test/**/build/

### STS ###
ktor-demo/.apt_generated
ktor-demo/.classpath
ktor-demo/.factorypath
ktor-demo/.project
ktor-demo/.settings
ktor-demo/.springBeans
ktor-demo/.sts4-cache
ktor-demo/bin/
ktor-demo/!**/src/main/**/bin/
ktor-demo/!**/src/test/**/bin/

### IntelliJ IDEA ###
ktor-demo/.idea
ktor-demo/*.iws
ktor-demo/*.iml
ktor-demo/*.ipr
ktor-demo/out/
ktor-demo/!**/src/main/**/out/
ktor-demo/!**/src/test/**/out/

### NetBeans ###
ktor-demo/nbproject/private/
ktor-demo/nbbuild/
ktor-demo/dist/
ktor-demo/nbdist/
ktor-demo/.nb-gradle/

### VS Code ###
ktor-demo/.vscode/

# =============================================
# ktor-task-app
# =============================================

ktor-task-app/.gradle
ktor-task-app/build/
ktor-task-app/!gradle/wrapper/gradle-wrapper.jar
ktor-task-app/!**/src/main/**/build/
ktor-task-app/!**/src/test/**/build/

### STS ###
ktor-task-app/.apt_generated
ktor-task-app/.classpath
ktor-task-app/.factorypath
ktor-task-app/.project
ktor-task-app/.settings
ktor-task-app/.springBeans
ktor-task-app/.sts4-cache
ktor-task-app/bin/
ktor-task-app/!**/src/main/**/bin/
ktor-task-app/!**/src/test/**/bin/

### IntelliJ IDEA ###
ktor-task-app/.idea
ktor-task-app/*.iws
ktor-task-app/*.iml
ktor-task-app/*.ipr
ktor-task-app/out/
ktor-task-app/!**/src/main/**/out/
ktor-task-app/!**/src/test/**/out/

### NetBeans ###
ktor-task-app/nbproject/private/
ktor-task-app/nbbuild/
ktor-task-app/dist/
ktor-task-app/nbdist/
ktor-task-app/.nb-gradle/

### VS Code ###
ktor-task-app/.vscode/

# =============================================
# ktor-rest-task-app
# =============================================

ktor-rest-task-app/.gradle
ktor-rest-task-app/build/
ktor-rest-task-app/!gradle/wrapper/gradle-wrapper.jar
ktor-rest-task-app/!**/src/main/**/build/
ktor-rest-task-app/!**/src/test/**/build/

### STS ###
ktor-rest-task-app/.apt_generated
ktor-rest-task-app/.classpath
ktor-rest-task-app/.factorypath
ktor-rest-task-app/.project
ktor-rest-task-app/.settings
ktor-rest-task-app/.springBeans
ktor-rest-task-app/.sts4-cache
ktor-rest-task-app/bin/
ktor-rest-task-app/!**/src/main/**/bin/
ktor-rest-task-app/!**/src/test/**/bin/

### IntelliJ IDEA ###
ktor-rest-task-app/.idea
ktor-rest-task-app/*.iws
ktor-rest-task-app/*.iml
ktor-rest-task-app/*.ipr
ktor-rest-task-app/out/
ktor-rest-task-app/!**/src/main/**/out/
ktor-rest-task-app/!**/src/test/**/out/

### NetBeans ###
ktor-rest-task-app/nbproject/private/
ktor-rest-task-app/nbbuild/
ktor-rest-task-app/dist/
ktor-rest-task-app/nbdist/
ktor-rest-task-app/.nb-gradle/

### VS Code ###
ktor-rest-task-app/.vscode/